/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

.logo{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 40px;
    width: 100px;
}
.top_page{

    padding-top: 10%;
    height: 500px;
    background-image: url("this.jpg");
}
.page_two{
    margin-top: 2%;
    height: 250px;
    background-color: rgb(252, 211, 7)
}
.login_button{
padding: 0px !important;
}
.login_button_right{
    float: right;
}
.login_heading{
    text-align: center;
    color: #ffffff;
}
.login_label{
    color: #ffffff;

}