<!DOCTYPE html>
<html>
<head>
  <title>Mess</title>
  <%= stylesheet_link_tag    'application',"storefront", media: 'all'%>
  <%= javascript_include_tag 'application',"scrollIt.min"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>





</body>
</html>
